// @include d-flex(flex, space-between, center);
body {
  background-color: $black;
  font-family: "Lato", sans-serif;
  
}

header {
  @include d-flex(flex, space-between, center);
  width: 80%;
  max-width: 1220px;

  margin: 64px auto;
  .logo {
    height: 64px;
    cursor: pointer;
  }
  .header-menu {
    width: 65%;
    @include d-flex(flex, space-between, center);
    .navbar ul {
      list-style: none;
      @include d-flex(flex, space-between, center);
      gap: 16px;
      li {
        color: $white;
        font-size: 24px;
        font-weight: 600;
        padding: 14px 20px;
        a {
          cursor: pointer;
        }
      }
      li:nth-child(1) {
        color: $yellow;
        border-bottom: 3px solid $yellow;
      }
    }
    div {
      position: relative;
      .search {
        background-color: $gray;
        padding: 16px 24px;
        border-radius: 12px;
        max-height: 56px;
        width: 100%;
        @include d-flex(flex, space-between, center);
        gap: 16px;
        input {
          width: 100%;
          border: none;
          background-color: $gray;
          outline: none;
          font-size: 18px;
          font-weight: 500;
          color: $white;
        }
        input[type="search"]::-webkit-search-cancel-button {
          /* Hide the button with display: none; */
          display: none;
        }
      }
      #movie-container {
        position: absolute;
        right: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 50vw;
        max-width: 600px;
        overflow: hidden;
        z-index: 9;
        gap: 8px;
        margin: 16px 0;
        .movie {
          @include d-flex(flex, flex-start, space-between);
          border-radius: 12px;
          overflow: hidden;
          height: 96px;
          cursor: pointer;
          background-color: $black;
          transition: all 0.4s ease-in-out;
          &:hover {
            background-color: $gray;
            border-radius: 12px;
          }
          img {
            height: 100%;
          }
          .movie-info {
            padding: 8px 16px;
            overflow: hidden;
            h3 {
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 4px;
              color: $white;
            }
            p {
              font-size: 10px;
              overflow: hidden;
              color: $white;
              opacity: 60%;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

main {
  width: 80%; 
  max-width: 1220px;
  margin: 36px auto;
  section {
    @include d-flex(flex, space-between, center);
    .sidebar {
      div {
        &:nth-child(2) {
          margin: 60px 0;
        }
        p {
          color: $white;
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 16px;
          opacity: 67%;
        }

        .list-item {
          &.active {
            border-right: 2px solid $yellow;
            filter: brightness(0) saturate(100%) invert(84%) sepia(50%)
              saturate(2806%) hue-rotate(344deg) brightness(98%) contrast(98%);
          }

          max-width: 196px;
          height: 42px;
          padding: 9px 0;
          margin-bottom: 8px;
          cursor: pointer;
          a {
            @include d-flex(flex, flex-start, center);
            gap: 16px;
            color: $white;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }

    .right-column {
      position: relative;
      display: inline-block;
      .image-container {
        position: relative;
        margin-bottom: 60px;

        &::after {
          content: "";
          border-radius: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(22, 24, 30, 0.5); // #16181E 50%
        }
        img {
          width: 100%;
        }
      }

      .movies {
        h4 {
          font-size: 30px;
          font-weight: 800;
          color: $white;
          margin-bottom: 30px;
        }
        div {
          @include d-flex(flex, space-between, center);
          gap: 30px;
          .movie-image {
            position: relative;
            display: inline-block;
            cursor: pointer;
            img {
              display: block;
              width: 100%;
              height: auto;
              border-radius: 20px;
            }

            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;

              &.overlay-1 {
                background-color: #16181e;
                opacity: 0.4;
                border-radius: 20px;
              }

              &.overlay-2 {
                background: linear-gradient(
                  rgba(22, 24, 30, 0) 0%,
                  rgba(22, 24, 30, 0.7) 67%
                );
                opacity: 0.7;
                border-radius: 20px;
              }
            }
            .top-info {
              position: absolute;
              top: 21px;
              left: 21px;
              @include d-flex(flex, flex-end, flex-start);
              flex-direction: column;
              gap: 14px;
              color:white;
              h5 {
                font-size: 24px;
                font-weight: 900;
              }
              div {
                @include d-flex(flex, flex-end, flex-start);
                gap: 6px;
                .star {
                  height: 15px;
                  width: 15px;
                }
              }
              .stars {
                color:white;
              }
            }
            .bottom-info {
              position: absolute;
              bottom: 10px;
              left: 10px;
              right: 10px;
              @include d-flex(flex, flex-end, center);
              gap: 14px;
              flex-direction: column;
              div {
                @include d-flex(flex, space-between, space-between);
                width: 100%;
                gap:10px;
                span {
                  font-size: 16px;
                  color: #F9F9F9;
                  font-weight: 600;
                  opacity: 70%;
                }
                button {
                  cursor: pointer;
                  background-color: #f9f9f920;
                  color: $white;
                  border: none;
                  border-radius: 15px;
                  padding: 0 16px;
                  height: 50px;
                  font-size: 24px;
                  text-wrap: nowrap;
                  font-weight: 600;
                  &:nth-child(2) {
                    background-color: $yellow;
                    color: $black;
                    font-size: 18px;
                    width: 100%;
                  }
                  transition: all 0.4s ease-in-out;
                  &:hover {
                    background-color: $gray;
                    border-radius: 12px;
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// movie-details-body Tab
.movie-details-body {
  height: 100vh;
  overflow: hidden;
  .container {
    width: 80%;
    max-width: 1220px;
    margin: 96px auto;
    .back {
      background-color: #f9f9f920;
      color: white;
      padding: 8px 16px;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        background-color: $black;
      }
    }
    #movie-details {
      color: $white;
      @include d-flex(flex, space-between, flex-end);
      .info {
        display: flex;
        flex-direction: column;
            h3 {
        font-size: 68px;
        font-weight: 900;
        color: $white;
        margin-bottom: 36px;
      }

      span {
        font-size: 25px;
        font-weight: 600;
        margin: 27px 0;
      }
      a {
        cursor: pointer;
        img {
          height: 30px;
        }
      }
      p {
        margin: 32px 0;
        font-size: 20px;
        max-width: 652px;
        font-weight: 600;
        line-height: 1.5;
      }
      .second-btn {
        @include button(#f9f9f920, $white);
      }
      .primary-btn {
        @include button($yellow, black);
        margin-left: 45px;
      }
      }
    }
    .image-container {
      height: 600px;
      border-radius: 20px;
      overflow: hidden;
      img {
        height: 100%;
      }
    }
  }
}





.star {
  display: inline-block;
  width: 38px;
  height: 38px;
  background-color: $gray;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}


.star.full {
  background-color: $yellow;
}

.star.half {
  background: linear-gradient(to right, #F8B319 50%, $gray 50%);
}