@mixin d-flex($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin button ($background-color, $color){
    background-color: $background-color;
    border-radius: 15px;
    border: none;
    padding: 19px 47px;
    font-size: 22px;
    font-weight: 900;
    color: $color;
    cursor: pointer;
    height: 71px;
}